@model IEnumerable<AzureKit.Models.ContentItemDescriptor>

@{
    ViewBag.Title = "Simple Pages";
}

<h2>Simple Pages</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id } ) | 

           @{
               if (item.IsInSiteMap)
               {
                   @Html.ActionLink("Remove from SiteMap", "Remove", new { id = item.Id });
               }

               else { 
                    @Html.ActionLink("Add to SiteMap", "Add", new { id = item.Id, name=@item.Title });
                }
            }
        </td>
    </tr>
}

</table>
